<!-- Bill templete -->

  <article class="bill">
    <div class="bill-icon">
      <i class="fas fa-file-invoice-dollar"></i>
    </div>
    <div class="bill-content">
      <p class="bill-text">
        {{description}}
      </p>
      <p>Each person owes: {{split}}</p>
      <p class="bill-author">
        <a href="#">{{amount}}</a>
      </p>
    </div>
  </article>
