<!-- Bill templete -->

  <article class="bill">
    <div class="bill-icon">
      <i class="fas fa-file-invoice-dollar"></i>
    </div>
    <div class="bill-content">
      <p class="bill-text">
        {{bill-text}}
      </p>
      <p class="bill-author">
        <a href="#">{{bill-author}}</a>
      </p>
    </div>
  </article>
